# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/

# IDE / editor
.idea/
.vscode/

# Environment & secrets
.env
.env.*

# OS files
.DS_Store
Thumbs.db

# FastAPI / tooling
.pytest_cache/
.mypy_cache/
.ruff_cache/
